pipeline/041pplFolderinsideFolder.json
{
	"name": "041pplFolderinsideFolder",
	"properties": {
		"activities": [
			{
				"name": "GetCountryFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CB_OUTPUT",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LoopCountry",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCountryFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCountryFolder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "StoreCountry",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "COUNTRY",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ExecuteCountry",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "StoreCountry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "041-1pplLastFolder",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParamCountry": {
										"value": "@variables('COUNTRY')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"COUNTRY": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-12T13:03:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}